body {
    background-image: url(images/washi_bg.png);
}

/* ナビバー */
div.container-fluid {
    background-image: url(images/washi_bg.png);
}


/* main */

div.qbox {
    position: relative;
    /*left: 50px;*/
    width: 70%;
    background-image: url(images/bgimage.png);
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto 20px;
}


/* 質問文 */
div.question {
    background-color: white;
    border-radius: 10px;
    padding: 10px 40px 40px;
    margin: 8px;
    border-width: 3px;
    border-color: black;
    border-style: double;
}

h1 {
    font-size: 30px;
    text-align: left;
}

p {
    font-size: 30px;
    /*text-align: center;*/
}

/* タイプ　特徴　話 */
div.resultBtn {
    display: flex;
    justify-content: space-around;
}

/* タイプボタン */
div.taleTypebtn {
    justify-content: left;
}

/* 特徴ボタン */

div.featurebtn {
    justify-content: center;
}


/* 解説ボタン */
div.explanationbtn {
    justify-content: right;
}



/* はい　どちらともいえない　いいえ */
div.choices {
    display: flex;
    justify-content: space-between;
}

div.charaimage img {
    position: absolute;
    left: -20%;
    width: 200px;
    height: auto;
    /*background-position: 50% 50%;*/
    /*padding: 20px;
    margin: 30px auto 20px;*/
}

div.imageSize img {
    left: -20%;
    width: 120px;
    height: auto;
}

div.resultBox {
    display: flex;
}

/* もどる　次へ */
div.optionbox {
    position: relative;
    /*left: 50px;*/
}

div.startoption {
    display: flex;
    justify-content: space-around;
}

div.option {
    display: flex;
    justify-content: space-around;
}

div.showbtn {
    display: flex;
    justify-content: space-around;
}

button.btn-custom {
    border-bottom: 5px solid rgba(0,0,0,0.5);
    
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 10px;
    /*
    border-width: 2px;
    border-color: rgb(196, 35, 35);
    border-style: solid;
    */
}

button.btn-custom:hover {
    background-color: #8a8583;
}

button.btn-custom:active {
    /*background-color: black;*/
    opacity: 1;
}

/* フッター */
div.footerbox {
    background-color: white;
}

div.fadeOut {
    display: none;
}

div.fadeIn {
    display: flex;
}

div.hidden {
    visibility: hidden;
}

div.visible {
    visibility: visible;
}

.formbt input[type=radio] {
    display: none;
}

.formbt input[type=radio]+label {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
}

.formbt input[type=radio]:checked+label {
    background-color: rgb(241, 243, 94);
    border: 3px solid black;
}


/*
.formbt input[type=radio]+label span::before {
    content: "○";
}

.formbt input[type=radio]:checked+label span::before {
    content: "●";
    color: black;
}
*/


/* レスポンシブ対応 */
@media screen and (max-width:1100px) {
    div.charaimage img {
        position: absolute;
        left: -23%;
        width: 190px;
        height: auto;
    }
}

@media screen and (max-width:900px) {
    div.charaimage img {
        position: absolute;
        left: -27%;
        width: 170px;
        height: auto;
    }
}

@media screen and (max-width:768px) {

    div.qbox {
        position: relative;
        left: auto;
        width: 70%;
        background-image: url(images/bgimage.png);
        border-radius: 10px;
        padding: 7px;
        margin: 10px auto 10px;
    }

    p {
        font-size: 25px;
    }

    div.question {
        padding: 10px 30px 15px;

    }

    button.btn-light {
        width: 80%;
        height: 43px;
        margin: 3px;
    }

    div.charaimage img {
        display: none;
    }

    div.optionbox {
        position: relative;
        left: 0px;
    }

    button.btn-custom {
        background-color: white;
        width: 200px;
        height: 43px;
        margin: 10px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
    }

    div.choices {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}





